
@-moz-document url-prefix("chrome:") {
#tabbrowser-tabs {
  grid-template-rows: auto auto 1fr;
}
#newtab-button-container {
  order: 3 !important;
}
#vertical-tabs-newtab-button {
  flex-grow: 1 !important;
  align-items: stretch !important;
}
}
    
